<section class="comments">
    <div class="container">
        <div class="row">
            <div class="">
                <h1>Comments</h1>
                {% for comment in article.comments %}
                    <div class="comment mt-4 text-justify float-left"> <img src="{{ asset('img/user.jpeg') }}" alt="" class="rounded-circle" width="40" height="40">
                        <h4>Jhon Doe</h4> <span>- {{ comment.publishedAt ? comment.publishedAt|date('Y-m-d H:i') : '' }}</span> <br>
                        <p>{{comment.content}}</p>
                    </div>   
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="">
                {{ include('comment/new.html.twig') }}  
            </div>
        </div>
    </div>
</section>