<div class="meta-container">
    <div class="post-meta">
        Posted by <a href="#">Start Bootstrap</a> 
        on 
        {{ article.publishedAt ? article.publishedAt|date('Y-m-d H:i') : '' }}
    </div>
    
    <div class="badges">
        <label class="small">Tags : </label>
        {% for keyword in  article.keywords %}
            <span class="badge badge-pill badge-primary">{{keyword.name}}</span>
        {% endfor %}
        
        <br>
        
        <label class="small">Categories : </label>
        {% for category in  article.categories %}
            <span class="badge badge-pill badge-info">{{category.name}}</span>
        {% endfor %}
    </div>
</div>