
<section class="comments">
    <div class="container">
        <div class="row">
            <div class="">
                <h1>Comments</h1>
                <div class="comment mt-4 text-justify float-left"> <img src="{{ asset('img/user.jpeg') }}" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Jhon Doe</h4> <span>- 20 October, 2018</span> <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Rob Simpson</h4> <span>- 20 October, 2018</span> <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <form id="algin-form">
                    <div class="form-group">
                        <h4>Leave a comment</h4> 
                        <textarea name="msg" id="" msg cols="30" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group"> <button type="button" id="post" class="btn">Post Comment</button> </div>
                </form>
            </div>
        </div>
    </div>
</section>