{% extends 'base.html.twig' %}

{% block post_title %}
    {{ article.title }}
{% endblock %}

{% block post_subtitle %}
{% endblock %}

{% block body %}
<article>
    <div class="container">
        <div class="row">
            <div  style="text-align: justify">
                {{ article.content }}
            </div>
        </div>
        <div class="row">
        {{ include('sections/articles/meta.html') }}
        </div>
    </div>

    {{ include('comment/index.html.twig') }}
</article>
{% endblock %}
